**PYTHON ASSIGNMENT 2 - LIST, DICTIONARY, SET, FROZENSET**

In [ ]:
#List Creation

age_list = [24,25,26,27,28]
name_list = ['nandy','rakesh','atharvaa','valli','rathnam']
print(age_list)
print(name_list)

[24, 25, 26, 27, 28]
['nandy', 'rakesh', 'atharvaa', 'valli', 'rathnam']

***LIST OPERATIONS/MODIFICATIONS***

In [ ]:
#Append the string "Yazhini" to name_list.
name_list.append('Yazhini')
print(name_list)

['nandy', 'rakesh', 'atharvaa', 'valli', 'rathnam', 'Yazhini']

In [ ]:
#Insert the element 30 at index 2 in age_list
age_list.insert(2, 30)
print(age_list)

[24, 25, 30, 26, 27, 28]

In [ ]:
#Remove the string "Yazhini" from name_list
name_list.remove('Yazhini')
print(name_list)

['nandy', 'rakesh', 'atharvaa', 'valli', 'rathnam']

In [ ]:
#Pop the last element from age_list
age_list.pop()
print(age_list)

[24, 25, 30, 26, 27]

In [ ]:
#Extend the age_list with additional ages [29, 30, 26].
age_list.extend([29,30,26])
print(age_list)

[24, 25, 30, 26, 27, 29, 30, 26]

In [ ]:
#Sort age_list in descending order.
age_list.sort(reverse=True)
print(age_list)

[30, 30, 29, 27, 26, 26, 25, 24]

In [ ]:
#Find Max age, Min age and sum of all ages from age_list
print(min(age_list))
print(max(age_list))
print(sum(age_list))

24
30
217

In [ ]:
#Make a copy of age_list and store as age_list_copy
age_list_copy = age_list.copy()
print(age_list_copy)

[30, 30, 29, 27, 26, 26, 25, 24]

In [ ]:
#Clear all elements from age_list_copy
age_list_copy.clear()
print(age_list_copy)

[]

***ACCESSING LIST ELEMENTS***

In [ ]:
#Print the first element of name_list
name_list[:1:]

['nandy']

In [ ]:
#Print the last element of name_list.
name_list[-1::]

['rathnam']

In [ ]:
#Print the elements from index 2 to index 4 in name_list.
name_list[2:5:]

['atharvaa', 'valli', 'rathnam']

In [ ]:
#Print the elements of name_list in reverse order.
name_list[-1::-1]

['rathnam', 'valli', 'atharvaa', 'rakesh', 'nandy']

In [ ]:
#Create a list called list_dup = [1, 2, 1, 1, 3, 1, 2, 5, 9, 1] and print the number of times element ‘1’ has occurred.
list_dup = [1,2,1,1,3,1,2,5,9,1]
list_dup.count(1)

5

In [ ]:
#Print length of list_dup.
len(list_dup)

10

**DICTIONARY**

In [ ]:
#Dictionary Creation
student_marks = {'Arthee':85, 'Banu':80, 'Charan':99, 'Ethan':65, 'Farooq':76}
student_marks

{'Arthee': 85, 'Banu': 80, 'Charan': 99, 'Ethan': 65, 'Farooq': 76}

In [ ]:
student_marks['Arthee']

85

In [ ]:
#Dictionary Modifications & Access:
#Add New student
student_marks['Janani'] = 80
student_marks

{'Arthee': 85,
 'Banu': 80,
 'Charan': 99,
 'Ethan': 65,
 'Farooq': 76,
 'Janani': 80}

In [ ]:
#Modify the Old Student Mark
student_marks['Banu'] = 82
student_marks

{'Arthee': 85,
 'Banu': 82,
 'Charan': 99,
 'Ethan': 65,
 'Farooq': 76,
 'Janani': 80}

In [ ]:
#Keys Method
student_marks.keys()

dict_keys(['Arthee', 'Banu', 'Charan', 'Ethan', 'Farooq', 'Janani'])

In [ ]:
#Values Method
student_marks.values()

dict_values([85, 82, 99, 65, 76, 80])

In [ ]:
#Items Method
student_marks.items()

dict_items([('Arthee', 85), ('Banu', 82), ('Charan', 99), ('Ethan', 65), ('Farooq', 76), ('Janani', 80)])

**SETS AND FROZEN**

***SETS***

In [ ]:
my_set = {'a','e','i','o','u','a','a','i'}
my_set
#Sets does not allow duplicates and does not maintain the same order always

{'a', 'e', 'i', 'o', 'u'}

In [ ]:
my_set[4] = 's'
#Set Object doesnot support item Assignment

TypeError: 'set' object does not support item assignment

In [ ]:

set1 = {1, 3, 5, 7, 9}
set2 = {2, 3, 5, 8, 10}
#Union Set
union_set = set1 | set2
print(union_set)

{1, 2, 3, 5, 7, 8, 9, 10}

In [ ]:
#intersection Set
intersection_set = set1 & set2
print(intersection_set)

{3, 5}

 ***FROZENSETS***

In [ ]:
immutable_set = frozenset([1, 2, 3, 4, 5])
print(immutable_set)

frozenset({1, 2, 3, 4, 5})

In [ ]:
immutable_set.add(6)

AttributeError: 'frozenset' object has no attribute 'add'